## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Answer

In [19]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list:", lst)
lst.sort(key = lambda name: name[1])
print("Sorted list:", lst)

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [22]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list:", lst)
lst_sorted = sorted(lst, key = lambda name: name[1])
print("Sorted list:", lst_sorted)

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Answer

In [25]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list:", lst)
lst_sorted = sorted(lst, key = lambda name: name[1][-1])
print("Sorted list:", lst_sorted)

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

## Answer

In [33]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
print("Original list:", lst1)
nos = list(range(1,8))
merged_list = tuple(zip(lst1,nos))
print("\nMerged list:", merged_list)

Original list: ['Energy', 'Agriculture', 'Industry', 'Technology', 'Finance', 'Forestry', 'Transport']

Merged list: (('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7))

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

[3, 2, 3, 3, 3, 3, 3]

## Answer

In [37]:
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
new_lst = [i.lower() for i in lst1]
# [i.lower().count('a') for i in lst1]
[j.count("a") for j in new_lst]

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Answer

In [36]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vowels ="aeiou"
print([i for i in str1 for j in vowels if i.lower() in j])

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

[64, 81, 100, 144, 196]

## Answer

In [45]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
square = list(map(lambda x: x**2, lst1))
print(list(filter(lambda y: y > 60, square))) 
print([i**2 for i in lst1 if i**2 > 60]) # using list comprehension

[64, 81, 100, 144, 196]
[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

'Inceptez provides the best inclass trainings and is the best'

## Answer

In [53]:
from functools import reduce
lst3 = ['Inceptez', 'provides', 'the', 'best', 'inclass', 'trainings', 'and', 'is', 'the', 'best']
print(reduce((lambda x,y:x+' '+y), lst3))

Inceptez provides the best inclass trainings and is the best