## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [2]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

## Answer

In [3]:
#import pandas as pd
#import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
label = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index = label)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

## Answer

In [4]:
attempts_score = df[(df['attempts'] < 2) & (df['score'] > 15)]
print("Number of attempts in the examination is less than 2 and score greater than 15 :\n", attempts_score )

Number of attempts in the examination is less than 2 and score greater than 15 :
     name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5 
##### Use Data from previous questions

## Answer

In [5]:
print("Original data frame:\n", df)
df.loc['d', 'score'] = 11.5
print("\nChange the score in row 'd' to 11.5:\n", df)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students. (Question continuation of data from question 2)
##### Use Data from previous questions

## Answer

In [8]:
sum_attempts = np.array(df['attempts'])
print("sum of exam attempts by the students:", sum_attempts.sum())

sum of exam attempts by the students: 19

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

## Answer

In [13]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df1 = pd.DataFrame(d)
print("Original dataframe:\n", df1)
print("\nDataframe after dropping rows 1 and 4:\n", df1.drop([1,4]))

Original dataframe:
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Dataframe after dropping rows 1 and 4:
    col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0

## Exercise 6: Write a function that checks whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

Check if col4 and col1 is present

## Answer

In [65]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df2 = pd.DataFrame(d)
if 'col4' in df2.columns:
    print("Col4 is present in the DataFrame.")
else:
    print("Col4 is not present in the DataFrame.")
if 'col1' in df2.columns:
    print("Col1 is present in the DataFrame.")
else:
    print("Col1 is not present in the DataFrame.")
cols = ['col1', 'col4']
print("Is both col1 and col4 present:", df2.columns.isin(cols).all())
print("Is any one of col1 and col4 present:", df2.columns.isin(cols).any())

Col4 is not present in the DataFrame.
Col1 is present in the DataFrame.
Is both col1 and col4 present: False
Is any one of col1 and col4 present: True

## Exercise 7: Write a function that returns the column index number from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

## Answer

In [26]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df3 = pd.DataFrame(d)
print("original dataframe:\n", df3)
print("\nIndex of col3:", df3.columns.get_loc('col3'))
print("\nIndex of col1:", df3.columns.get_loc('col1'))

original dataframe:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of col3: 2

Index of col1: 0

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

## Answer

In [32]:
print("original dataframe:\n", df3)
print("\nAll except col1:\n", df3.loc[:, df3.columns != 'col1'])
print("\nAll except col2:\n", df3.drop('col2', axis=1))

original dataframe:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All except col1:
    col2  col3
0     4     7
1     5     8
2     6    12
3     9     1
4     5    11

All except col2:
    col1  col3
0     1     7
1     2     8
2     3    12
3     4     1
4     7    11

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

## Answer

In [38]:
print("original dataframe:\n", df3)
print("\nAll except last 2 rows:\n",df3.iloc[:-2])
#print("\nAll except last 2 rows:\n", df3.drop(df3.tail(2).index)) #Another method

original dataframe:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All except last 2 rows:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes
use IMDB-Movie-Data.csv

## Answer

In [44]:
movie_df = pd.read_csv('IMDB-Movie-Data.csv')
movie_df_new = movie_df.loc[(movie_df['Runtime (Minutes)'] > 30 ) & (movie_df['Runtime (Minutes)'] < 360 )]

In [64]:
result = movie_df_new[['Title', 'Runtime (Minutes)']]
print("Movies longer than 30 minutes and shorter than 360 minutes:\n", result)

Movies longer than 30 minutes and shorter than 360 minutes:
                        Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]